html{
    background-color: gainsboro;
}

#GamopenebiPage_Title_ID{
    font-size: large;
    font-weight: bold;
}


#UploadNamushevari_ButtonID{
    height: 50px;
    border-radius: 15px;
    border-color: black;
    width: 350px;
    background-color: yellow;
    font-size: 20px;
    border-width: 1px;
    color: black
}