html{
    background-color: gainsboro;
}

#GamopenebiPage_Title_ID{
    font-size: large;
    font-weight: bold;
}


#UploadNamushevari_ButtonID{
    height: 50px;
    border-radius: 15px;
    border-color: black;
    width: 350px;
    background-color: yellow;
    font-size: 20px;
    border-width: 1px;
    color: black
}


.Namushevari_Photos{
    max-width: fit-content;
    width: 250px;
    max-height: fit-content;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#GamopenebiPage_Upload_Div_ID{
    background-color: gray;
}


#UploadDIV_MainHeader_ID{
    font-size: 25px;
}


.GamopenebiDIV_input{
    height: 25px;
    border-radius: 15px;
    border-color: black;
    width: 200px;
    background-color: green;
    color: white;
}

#GamopenebiDIV_HideAndShowButton{
    height: 75;
    border-color: black;
    width: 200px;
    background-color: yellowgreen;
    color: white;
    font-size: 30px;
}