

#HomePage_Logo_Photo1 {
    max-width: fit-content;
    max-height: fit-content;
    width: 150px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#BottomTab_Div_ID {
    background-color: gray;
}


#HomePage_Text_ID1 {
    font-size: 20px;
}

@media (min-width: 480px) {
    .ResponsiveVideos_Class{
    max-width: fit-content;
    max-height: fit-content;
    }
}
  
@media (min-width: 800px) {
    .ResponsiveVideos_Class{
        max-width: fit-content;
        max-height: fit-content;
    }
}
  
@media (min-width: 1100px) {
    .ResponsiveNeedPhoto{
        max-width: 1000px;
        max-height: auto;
    }
}

#GamopenebiButton_ID{
    height: 75px;
    border-radius: 15px;
    border-color: black;
    width: 350px;
    background-color: blue;
    color: white;
    font-size: 40px;
    border-width: 1px;
}


#KreditebiButton_ID{
    height: 120px;
    border-radius: 15px;
    border-color: black;
    width: 350px;
    background-color: rgb(235, 2, 2);
    color: white;
    font-size: 40px;
}




#WhatsNewButton_ID{
    height: 75;
    border-radius: 15px;
    border-color: black;
    width: 350px;
    background-color: green;
    color: white;
    font-size: 40px;
}



#SchoolWork_Copyright_ID{
    font-weight: bold;
}



#HomePage_Extra_Div{
    background-color: gray;
}


#HomePage_ExtraDiv_Title_ID{
    font-weight: bold;
    font-size: 50px;
}



#HomePage_About_Text_ID{
    font-size: 20px;
}


#HomePage_NewsTitle_ID{
    font-weight: bold;
    font-size: 20px;
}

#HomePage_NewsText_ID{
    font-size: 20px;
}


#HomePage_AboutTitle_ID{
    font-size: 20px;
    font-weight: bold;
}



#HomePage_NewVideoTitle_ID{
    font-size: 25px;
}

.ResponsiveVideos_Class{
    max-width: fit-content;
    max-height: fit-content;
}



body {
    background-color: #12181b;
}

text {
    color: #fcfcfc;
}



#DiscordJoinButton_ID{
    height: 75;
    border-radius: 15px;
    border-color: black;
    width: 350px;
    background-color: purple;
    color: black;
    font-size: 40px;
}