#UploadImageIMG{
    height:fit-content;
    width:fit-content;
    max-width: 350px;
    max-height: 500px;
}


#UploadNamushevariPage_DIV{
    color: gray;
}


.LabelDefault{
    color: white;
    font-size: large;
}


#NamushevariUploadSubmit{
    
}