

.DarkThemeText{
    color: #fcfcfc;
}


.DarkThemeTextBOLD{
    color: honeydew;
}



.DarkThemeALINK{
    color: #9e00ed;
}


.DarkThemeButton{
    color: honeydew;
}


html {
    background-color: #12181b;
}